
@{
    int idArea = int.Parse(Request.Cookies["cookiePerfil"]["idArea"].ToString());
    int usuario = int.Parse(Request.Cookies["cookiePerfil"]["usuario"].ToString());
}

<div class="overflow-auto">
    <table class="table table-striped shadow-sm mb-4 p-0" id="TablaFacturacion" style="font-size: 12px; ">
        <thead>
            <tr>
                <th class="brl" title="Seleccionar todo" data-orderable="false"><input type="checkbox" name="selAll" id="selAll" onclick="seleccionarTodo()" /></th>
                <th class="text-center" title="Cotización">Cot.</th>
                <th class="text-center">Aprobación</th>
                <th>Cliente</th>
                <th>Propiedad</th>
                <th>Glosa</th>
                <th class="text-right">Neto</th>
                <th class="text-right">IVA</th>
                <th class="text-right">Total</th>
                <th>F. Estado</th>
                <th>Estado</th>
                <th scope="col" class="brr" data-orderable="false">Acc.</th>
                <th hidden>Neto</th>
                @*NETO SIN FORMATO*@
                <th hidden>IVA</th>
                @*IVA SIN FORMATO*@
                <th hidden>Total</th>
                @*TOTAL SIN FORMATO*@
            </tr>
        </thead>
        <tbody>
            @foreach (var fac in Model)
            {
                <tr class="cursor">

                    <td class="text-center"><input type="checkbox" idEstado="@fac.idEstado" estadoFac="@fac.estado" name="id_cotizacion" id="id_cotizacion" value="@fac.idCotizacion"></td>
                    <td class="text-center">@fac.idCotizacion</td>
                    <td class="text-center">@fac.fecAprobacion</td>
                    <td class="text-left">@fac.cliente<br />@fac.rut</td>
                    <td class="">@fac.propiedad</td>
                    <td class="">@fac.glosaCotizacion</td>
                    <td class="text-right" style="white-space:nowrap">@fac.neto.ToString("N0")</td>
                    <td class="text-right" style="white-space:nowrap">@fac.iva.ToString("N0")</td>
                    <td class="text-right" style="white-space:nowrap">@fac.total.ToString("N0")</td>
                    <td class="">@fac.fecEstado</td>
                    <td class="" id="Estado_@fac.idCotizacion">@fac.estado</td>
                    <td class="text-center" style="white-space: nowrap">
                        @{
                            var rutaFacturaArch = "";
                            if (fac.estado == "Facturada")
                            {
                                rutaFacturaArch = ViewBag.urlSolicitudes + "Home/VerArchivo?nombreArchivo=" + @fac.nombreArchivo + "&tipo=6&id=" + @fac.idCotizacion;
                            }
                            else
                            {
                                rutaFacturaArch = ViewBag.urlSolicitudes + "Home/VerArchivo?nombreArchivo=Cotizacion_" + @fac.idCotizacion + "_Factura_XXXX.pdf" + "&tipo=6&id=" + @fac.idCotizacion;
                            }

                            var urlPDFCot = ViewBag.urlNuevaCotizacion
                                + "/pdf/Cotizacion?id=" + @fac.idCotizacion;
                        }
                        @if (idArea == 7 || idArea == 8 || usuario == 60307 || usuario == 30230) //Se agrega a Shirley  y a Karina para visualizar
                        {
                            <i id="SubirFactura_@fac.idCotizacion" style="font-size:16px; color: darkolivegreen" class="fas fa-file-import cursor AgregarDoc" data-toggle="tooltip" data-placement="right" title="Subir factura" data-original-title="Subir factura" idCotizacion="@fac.idCotizacion"></i>
                        }

                        <a class="@(fac.estado == "Facturada" ? "" : "collapse")" id="VerFactura_@fac.idCotizacion" href="@rutaFacturaArch" target="_blank"><i class='fas fa-file-pdf  USL-8 ' data-toggle="tooltip" data-placement="top" title="Ver Factura"></i></a>
                        <a href="@urlPDFCot" class="color-corp" target="_blank"><i class="far fa-file-pdf" data-toggle="tooltip" data-placement="left" title="Ver cotización" style="font-size: 16px;"></i></a>




                    </td>
                    <td hidden>@fac.neto.ToString().Replace(".", ",")</td>
                    <td hidden>@fac.iva.ToString().Replace(".", ",")</td>
                    <td hidden>@fac.total.ToString().Replace(".", ",")</td>
                </tr>
            }
        </tbody>
        <tfoot align="right" class="borde">
            <tr>
                <th colspan="6">SubTotal<br />Total General</th>
                <th style="" nowrap></th>
                <th style="" nowrap></th>
                <th style="" nowrap></th>
                <th colspan="3">&nbsp;</th>
            </tr>
        </tfoot>
    </table>
</div>

    

<div>
    <div class="celda " id="btn_exportar">

        <button type="button" class="btn2 btn-info US-8" style="margin-right:0" onclick="exportarLista()">
            <i style="font-size:16px;" class="fas fa-file-excel" data-toggle="tooltip" data-placement="top" title="Informes personalizado"></i>&nbsp;Informes
        </button>

    </div>
    <div class="celda " id="btn_cargar_facturas"><button type="button" class="btn2 btn-info US-8" style="padding-left: 20px;"><i style="font-size:16px;" class="fa fa-upload" data-toggle="tooltip" data-placement="top" title="Carga de facturas desde Sistema NUBOX"></i>&nbsp;Carga facturas Nubox</button></div>
</div>

<div style="display: inline-block">
    @using (Html.BeginForm("ExportarExcel", "Facturacion", FormMethod.Post, new { id = "FormExcel", name = "FormExcel" }))
    {
        <input type="hidden" name="idFormato" id="idFormato" value="99" />
        <input type="hidden" name="grilla" value="FACTURACION" />
        <input type="hidden" name="inicio" id="inicio" />
        <input type="hidden" name="termino" id="termino" />
        <input type="hidden" name="fechaContable" id="fechaContable" />
        <input type="hidden" name="id_estado_facturacion" id="id_estado_facturacion" />
        <input type="hidden" name="ids_seleccion" id="ids_seleccion" />
        <input type="hidden" name="id_proveedor" id="id_proveedor" value="0" />
    }
</div>

<div class="" align="right">
    @*<div id="btn_aprobar" class="btn btn-corp celda cambioEstado collapse">Aprobar</div>
        <div id="btn_rechazar" class="btn btn-corp celda cambioEstado collapse">Rechazar</div>*@
    <div id="btn_pendiente" class="btn btn-corp celda cambioEstado collapse">Pendiente</div>
    <div id="btn_facturada" class="btn btn-corp celda cambioEstado collapse">Facturada</div>
</div>


<div id="Modal_Carga_Facturas" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title  USL-8" style="color:#666; padding: 5px;"><i class="fa fa-upload mr-2" style="font-size:20px;"></i>Cargar Facturas Nubox</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="datos_carga" align="center"><i class="fa fa-spinner fa-spin "></i>Cargando....</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-corp" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div id="Modal_Excel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title USL-8" style="color:#666; padding: 5px;"><i class="fas fa-file-excel mr-2" style="font-size:20px;"></i>Exporta Archivo </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="formatosExcel" style="display: none"></table>
                <div id="loadingExcel" align="center"><i class="fa fa-spinner fa-spin "></i>Cargando....</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-corp" onclick="exportarExcel()">Exportar</button>
                <button type="button" class="btn btn-corp" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: agregar factura -->
<div class="modal fade" id="MdlAddFacCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header US-8">
                <h6 class="modal-title"><i class="fas fa-file-import mr-2"></i>Adjuntar Factura Cliente</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">×</span>
                </button>
            </div>

            <div class="modal-body text-left">
                <div class="alert alert-light " role="alert">

                    <div class="row m-2 " style="vertical-align: middle; padding:0;">
                        <div class="col-md-5 ">
                            <input type="number" class="form-control" id="NumFactura" placeholder="N° Factura">
                        </div>
                        <div class="col-md-7 ">
                            <span style='padding-top:10px; margin-right:10px;'>Adjuntar&nbsp;</span>
                            <a id="link_doc_pdf" class="opcArchivo" style='padding-top:10px;' href="" target="_blank">
                                <i class="fas fa-file-pdf color-corp mr-2" style='cursor: pointer; font-size:18px;' data-toggle="tooltip" data-placement="left" title="Ver factura cliente"></i>
                            </a>
                            <a id="EliminarArchivo" class="opcArchivo " style='padding-top:10px;'>
                                <i class="fas fa-trash" id="EliminarDocumento" style='cursor: pointer; font-size:18px; color: #777' data-toggle="tooltip" data-placement="right" title="Eliminar Factura Cliente"></i>
                            </a>
                            <label for="UploadDocumento" class="upload ml-2 " data-toggle="tooltip" data-placement="right" data-original-title="Adjuntar factura asociada al servicio">
                                <i class="fas fa-paperclip"></i>
                                <input type="file" id="UploadDocumento" style="display:none">
                            </label>
                        </div>
                    </div>
                    <hr style="border: 1px solid #81368b" />
                </div>
                <div id="msjErrorDoc" class="alert alert-danger collapse" role="alert" style="">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div align="center">
                    <a href="" class="btn btn-corp m-1" data-dismiss="modal" arial-label="close" style="padding: 5px 10px 5px 10px;">Cerrar</a>
                    <input type="hidden" id="idCotizacionAdd" name="idCotizacionAdd">
                    <input type="hidden" id="NomDocPDF" name="NomDocPDF">
                </div>

            </div>
        </div>
    </div>
</div>



<script>


    var idsCambiar = "";
    $("#btn_cargar_facturas").click(function () {
        $("#Modal_Carga_Facturas").modal();

        $.ajax({
            //data: param,
            url: "@Url.Action("_FormularioCargaArchivo", "Facturacion")",
            type: "POST",

            success: function (response) {
                $("#datos_carga").html(response);
            }
        });
    });


    $('[id="id_cotizacion"]').each(function () {
        estadoActual = $(this).attr('estadoFac')
        if (estadoActual == "Pendiente") {
            $("#btn_facturada").css("display","inline-block")
        }
        if (estadoActual == "Facturada") {
            $("#btn_pendiente").css("display", "inline-block")
        }
    });

    function seleccionarTodo() {
        if (!validaMismoEstado("S")) {
            $("#selAll").prop("checked", false);
            return;
        }

        var checked = $("#selAll").prop("checked");
        var api = $('#TablaFacturacion').dataTable().api();
        api.column(0).nodes().to$().each(function (index) {
            $(this).find('input:checkbox').prop('checked', checked);
        });
        api.draw();

        @*if ($("#selAll").prop("checked")) {
            if (validaMismoEstado("S")) {
                $("#TablaFacturacion input:checkbox").prop("checked", true);
            } else {
                $("#selAll").prop("checked", false);
            }
        } else {
            $("#TablaFacturacion input:checkbox").prop("checked", false);
        }*@
    }

    function validaMismoEstado(opcion) {
        i = 0;
        estadoCambiar = "";

        $('[id="id_cotizacion"]').each(function () {
            i++
            if ($(this).is(':checked') ) {
                var estadoSel = $(this).attr('estadoFac')
                if (estadoCambiar == "") {
                    estadoCambiar = estadoSel;
                }
                //alert(estadoSel + "!=" +  estadoCambiar)

                if (estadoSel != estadoCambiar) {
                    estadoCambiar = "error";
                    return false
                }
            }
            if ($(this).is(':checked')) {
                idsCambiar += $(this).val() + ";"
            }

        });

        if (estadoCambiar == "error") {
            alert("Todas las facturas seleccionadas tienen que estar en el mismo estado");
            return false;
        }

        return true;
    }

    $(".cambioEstado").click(function () {
        if (!validaMismoEstado("S")) return false;

        almenosUnoCheckeado = false
        estadoActual = ""
        idNuevoEstado = 0
        $('[id="id_cotizacion"]').each(function () {
            if ($(this).is(':checked')) {
                almenosUnoCheckeado = true
                estadoActual = $(this).attr('estadoFac')
            }
        });

        if (!almenosUnoCheckeado) {
            alert("Debe seleccionar al menos una factura para cambiar de estado");
            return false;
        }


        if ($(this).attr("id") == "btn_pendiente" && !(estadoActual == "Facturada")) {
            alert("Sólo puede cambiar a estado Pendiente facturas con estado Facturada");
            return false;
        }

        if ($(this).attr("id") == "btn_facturada" && !(estadoActual == "Pendiente")) {
            alert("Sólo puede cambiar a estado Facturada facturas con estado Pendiente");
            return false;
        }
        if ($(this).attr("id") == "btn_facturada") idNuevoEstado = 9;
        else
            if ($(this).attr("id") == "btn_pendiente") idNuevoEstado = 0

        var parametro = {
            "IdsActualizar": idsCambiar,
            "idNuevoEstado": idNuevoEstado
        };
        //alert(idsCambiar + " " + idEstadoActual)
        $.ajax({
            data: parametro,
            url: "@Url.Action("CambiarEstado", "Facturacion")",
            type: "POST",
            success: function (response) {
                buscar();
            }
        });
    });
    $(document).ready(function () {
        $("#TablaFacturacion").DataTable({
            "dom": 'Bl<"eleInline"i>frtp',
            "buttons": [
                {
                    extend: 'excelHtml5', className: 'btn2 btn-info',
                    text: 'Excel', //Puedes definir un diferente texto y hasta íconos ej: '<i class="fas fa-file-excel"></i> Ocultar Columnas'
                    exportOptions: {
                        columns: [1,2,3,4,5,12,13,14,9,10]
                    }
                },
            ],

            "order": [[1, "asc"]],
            "pageLength": 25,
            "lengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],

            "filter": true,
            "responsivePriority": 1,
            "info": true,
            "language": {
                "lengthMenu": "Mostrar _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "search": "",
                "sLoadingRecords": "Cargando...",
                "sProcessing": "Cargando...",
                "emptyTable": "<b>Sin Facturacion</b>",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",

                }
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // converting to interger to find total
                var intVal = function (i) {
                    var val = 0
                    if (i.toString().indexOf("<input") == -1) {
                        if (typeof i === 'string') {
                            val = i.replace(/[\.,]/g, '')
                            val = val.replace(/[\$,]/g, '') * 1
                        } else {
                            if (typeof i === 'number') {
                                val = i
                            } else {
                                val = 0
                            }

                        }
                    }
                    return val;
                };

                //Calculamos subtotales
                var submonNeto = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var submonIVA = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var submonTotal = api
                    .column(8, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // computing column Total of the complete result
                var monNeto = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var monIVA = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var monTotal = api
                    .column(8)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Update footer by showing the total with the reference of the column index
                //$(api.column(0).footer()).html('Total');
                //debugger

                $(api.column(6).footer()).html('$ ' + formatNumber(submonNeto) +'<br/>$ ' + formatNumber(monNeto));
                $(api.column(7).footer()).html('$ ' + formatNumber(submonIVA) +'<br/>$ ' + formatNumber(monIVA));
                $(api.column(8).footer()).html('$ ' + formatNumber(submonTotal) +'<br/>$ ' + formatNumber(monTotal));

            }
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });

    function exportarLista() {
        $("#Modal_Excel").modal();
        $.ajax({
            url: "@Url.Action("FormatosExcel", "Facturacion")",
            data: { grilla: "FACTURACION" },
            type: "get",
            success: function (data) {
                if (data.resp.length > 0) {
                    $("#formatosExcel tr").remove();
                    data.resp.map(function (obj) {
                        var fila = [];
                        fila.push("<td><input type='radio' value='" + obj.id + "' name='radioFormatoExcel' class='radioFormatoExcel' /> </td>");
                        fila.push("<td>&nbsp;&nbsp;" + obj.nombre + "</td>");

                        $("#formatosExcel").append("<tr>" + fila.join('') + "</tr>");
                    });
                }
                $("#formatosExcel").css("display","block")
                $("#loadingExcel").css("display","none")
            },
            error: function (xhr, status, error) {
                alert("Error! " + xhr.status + " Descripcion: " + xhr.responseText);

            }
        });
    }


    function exportarExcel() {
        var sel = $(".radioFormatoExcel:checked").val();
        if (sel === undefined) {
            alert("Debe seleccionar un Formato de Exportación")
            return;
        }
        if (sel == "2") {
            alert("Formato no implementado")
            return;
        }

        var diasMeses = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        if (parseInt($("#selAno").val()) % 4 == 0) diasMeses[2] = 29;

        if ($("#periodicidad:checked").val() == "mes") {
            inicio = $("#selAno").val() + "-" + $("#selMes").val() + "-" + "1"
            termino = $("#selAno").val() + "-" + $("#selMes").val() + "-" + diasMeses[parseInt($("#selMes").val())]
        } else {
            inicio = $("#desde").val()
            termino = $("#hasta").val()
        }


        let idsCotizaciones = "";
        var api = $('#TablaFacturacion').dataTable().api();
        api.column(0).nodes().to$().find('#id_cotizacion:checked').each(function () {
            idsCotizaciones = idsCotizaciones + $(this).val() + ",";
        });

        estado = $("#estado").val()

        document.FormExcel.idFormato.value = sel

        document.FormExcel.inicio.value = inicio
        document.FormExcel.termino.value = termino
        document.FormExcel.id_estado_facturacion.value = estado
        document.FormExcel.ids_seleccion.value = idsCotizaciones


        document.FormExcel.submit();
        $("#Modal_Excel").modal('hide');
    };


    $(".AgregarDoc").click(function () {
        var DirectorioDocumentos = "";
        var rutaFacturaArch = "@ViewBag.urlSolicitudes" + "Home/VerArchivo?nombreArchivo=__NOMARCH__&tipo=5&id=0";

        $("#link_doc_pdf").hide();
        $("#link_doc_pdf").attr("href", "");
        $(".GuardarDatosDoc").show();

        $("#NumDocAdd").val($(this).attr("numdoc"));
        $("#NomDocPDF").val($(this).attr("nomDocPDF"));
        if ($("#NomDocPDF").val() == "") {
            $("#link_doc_pdf").hide()
            $(".opcArchivo").hide()
        } else {
            rutaFacturaArch = rutaFacturaArch.toString().replace("__NOMARCH__", $("#NomDocPDF").val())
            $("#link_doc_pdf").attr("href", rutaFacturaArch);
            $(".opcArchivo").fadeIn()
        }

        $("#idCotizacionAdd").val($(this).attr("idCotizacion"));


        $("#MdlAddFacCliente").modal();
    });


    $("#UploadDocumento").change(function () {
        var idCotizacion = $("#idCotizacionAdd").val()
        var numFactura = $("#NumFactura").val()
        var rutaFacturaArch = "@ViewBag.urlSolicitudes" + "Home/VerArchivo?nombreArchivo=__NOMARCH__&tipo=6&id=" + idCotizacion;
        var archivo = $(this).get(0).files;

        // valida ingreso de numero de factura
        if (numFactura == "") {
            alert("Debe ingresar número de factura y volver a seleccionar el archivo")
            $("#NumFactura").focus()
            $(this).val("")
            return;
        }
        if (archivo.length > 0) {
            var data = new FormData();
            data.append("idCotizacion", idCotizacion);
            data.append("numFactura", numFactura);
            data.append("archivo", archivo[0]);

            var url = "@Url.Action("SubirDocumento", "Facturacion")";
            var subirArchivo = $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                data: data
            });

            subirArchivo.done(function (nombreArchivo) {
                $("#VerFactura_" + idCotizacion).css("display", "inline")
                var href = $("#VerFactura_" + idCotizacion).attr("href").replace("XXXX", numFactura)
                $("#VerFactura_" + idCotizacion).attr("href", href)

                $("#SubirFactura_" + idCotizacion).addClass("collapse")
                $("#Estado_" + idCotizacion).html("Facturada")
                $("#MdlAddFacCliente").modal('hide')
                $(this).val("")
                //buscar()

                alert("Archivo subido correctamente")

            });


        }
    });


    function formatNumber(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
</script>