@model IEnumerable<Contabilidad.Clases.ListadoCargaFacturas>
@using System.Configuration;

@{
    string DirectorioFacturas = ConfigurationManager.AppSettings.Get("rutaSubirFactura");
}

<style>
    .flota_derecha {
        float: right;
    }
</style>

<table class="table table-striped table-hover table-bordered table-condensed table-responsive" id="tabla_carga">
    <thead>
        <tr>
            <th>Factura</th>
            <th>Cot.</th>
            <th>Nombre Cliente</th>
            <th>Neto</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rutaFacturaArch = ViewBag.urlSolicitudes + "Home/VerArchivo?nombreArchivo=" + @item.g_archivo_factura + "&tipo=6&id=" + @item.idCotizacion;

            <tr>
                <td>@item.id_factura</td>
                <td>@item.idCotizacion</td>
                <td>@item.nombre_cliente</td>
                <td>@item.neto</td>
                <td>@item.iva</td>
                <td>@item.total</td>
                <td><a href="@rutaFacturaArch" target="_blank">PDF</a></td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#tabla_carga").dataTable({
        dom: 'B<"flota_derecha"lf>rtip',
        buttons: [
            {
                extend: 'excelHtml5',
                text: 'Excel',
                footer: true,
                exportOptions: {
                    columns: ':visible'
                },
                filename: 'CargaDeFacturas.xlsx'
            },
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
                text: 'PDF',
                footer: true,
                exportOptions: {
                    columns: ':visible'
                },
                filename: 'CargaDeFacturas.pdf'
            }
        ]
    });
</script>
