<!-- Modal: Observaciones Solicitud -->

<div class="modal fade" id="ModalPagoObs" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header US-8">
                <h6 class="modal-title"><i class="fab fa-font-awesome-flag mr-2"></i>Observaciones Pago Factura N° @ViewBag.numFactura</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">×</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div class="alert alert-danger text-center " role="alert" id="msjError" style="display: none;">
                    This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th class="USL-8">Proveedor</th>
                            <td>@ViewBag.nomProveedor</td>
                        </tr>
                        <tr>
                            <th class="USL-8">N° Factura</th>
                            <td>@ViewBag.numFactura</td>
                        </tr>
                    </thead>
                </table>

                <form class="mx-auto text-center">
                    <textarea class="form-control" placeholder="Observación" id="fObs" rows="5"></textarea>
                    <a href="" class="btn US-8 m-4" data-dismiss="modal" arial-label="close">cancelar</a>
                    <a href="#" onclick="guardar()" class="btn btn-corp m-4" style="padding: 11px 40px;"><i class="fas fa-save mr-2"></i>Guardar</a>
                </form>
                <h6 class="USL-8 mt-3 mb-4">Historial de observaciones</h6><!--Mostrar y guardar las últimas 10-->
                <table class="table shadow-sm mt-2 text-center" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th class="brl" style="text-align: left;">Fecha</th>
                            <th style="text-align: left;">Usuario</th>
                            <th class="brr">Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.observaciones.Count == 0)
                        {
                            <tr>
                                <td colspan="3"><strong>Sin Observaciones</strong></td>
                            </tr>
                        }

                        @foreach (var obs in Model.observaciones)
                        {
                            <tr>
                                <td>@obs.fecha</td>
                                <td>@obs.nomUsuario</td>
                                <td>@obs.observaciones</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal: Guardar -->
<div class="modal fade" id="MsSave" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center" id="">
                La información se ha guardado con éxito.
            </div>
        </div>
    </div>
</div>



<script>
    function guardar() {
        $("#msjError").fadeOut();
        var url = "@Url.Action("_GuardarObservacion", "Pagos")";
        var parametro = {
            "idTipo": 1,        // observación pago de factura
            "idAsignacion": @ViewBag.idAsignacion,
            "obs": $("#fObs").val()
        };

        $.ajax({
            type: "POST",
            url: url,
            data: parametro,
            async: true,
            success: function (mensaje) {
                if (mensaje == "") {
                    $('#ModalPagoObs').modal('hide');
                    $("#MsSave").modal();
                } else {
                    $("#msjError").html(mensaje);
                    $("#msjError").fadeIn();
                }
            }
        });


    };




</script>
